-#  This file is app/views/users/index.html.haml
%h1 All Users

%table#users
  %thead
    %tr
      %th User ID
      %th E-mail
      %th Session Token
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_id 
        %td= user.email
        %td= user.session_token

